<div class="table table-striped">
  <%-if projects.any? %>
      <%-projects.order("created_at DESC").each do |project| %>
          <%=link_to project_path(project) do %>
              <div class = "col-md-4 center">
                <%=image_tag project.cover_image.url, class: "cover_image" %>
                <%=content_tag(:div, "#{project.title}", class: "project-panel-title center") %>
                <div class="move-text-up">
                </div>
                <div class="project-panel-description">
                </div>
              </div>
          <% end %>
      <% end %>
  <%-else %>
      <div class="center">
        Currently no content.
      </div>
  <% end %>
</div>