<div class="parallax1">
  <div class="center parallax-text">
    About Jacob Moore
  </div>
</div>

<div>
  <p>
    Hello, My name is Jacob Moore! I am currently a student at Northern Kentucky University in Highland Heights, Kentucky, where I
    attend the College of Informatics for a degree in Computer Science. I am currently a Junior by credit, and have a specific
    interest in the space industry. I have spent over a complete year working as an intern at NASA's Goddard Space Flight Center in
    Greenbelt, Maryland and for NASA's Kennedy Space Center in Cape Canaveral, Florida.
  </p>
  <p>
    While at Goddard, I worked on an opensourced iOS based application called LandCast. NASA currently has a satellite called
    LandSat-8 that gathers a plethora of land, oceanic, and arctic data about our planet. I was given resources that linked me to
    this information, and helped debug and improve the application to prep it to be moved to open-source. This was my first
    project with NASA, and you can read more about it <a href="#">here</a>.
  </p>
  <p>
    While at Kennedy (Where I spent the most of my time), I began by developing web applications. We primarily coded using Ruby and
    the Ruby on Rails framework. The applications I developed gave me the knowledge to make this website you are currently on right now! The main
    application I worked on was a web application designed to allow users to manipulate, upload, and derive reports from data files and code blocks. The
    application also had a scheduling system that allowed users to monitor what stages their code was in during the development process.
  </p>
  <p>
    When I wasn't working as a web developer, I was moved over to an automation team in the engineering directorate at Kennedy Space
    Center. I worked with a team of 8 other interns where we would automate testing sequences for America's next spacecraft. You can learn more about
    both of these projects by visiting my <a href="#">projects page</a>.
  </p>
</div>

<!--<div class="parallax2">-->
<!--</div>-->

<!--<div>-->
  <!--Words will go here.-->
<!--</div>-->

<!--<div class="parallax3">-->
<!--</div>-->

<!--<div>-->
  <!--Words will go here.-->
<!--</div>-->

<!--<div class="parallax4">-->
<!--</div>-->