<div class="wrapper">
  <div class="parallax1">
    <div class="center parallax-text">
      About Jacob Moore
    </div>
  </div>

  <div class ="aboutsection">
    <div class="row norowdisturbance">
      <p class="col-md-12 padding-top padding-bottom">
        Hello, My name is Jacob Moore! I am currently a student at Northern Kentucky University in Highland Heights, Kentucky, where I
        attend the College of Informatics for a degree in Computer Science. I am currently a Junior by credit, and have a specific
        interest in the space industry. I have spent over a complete year of my life working as an intern at NASA. The
        centers I have worked at include NASA's Goddard Space Flight Center in Greenbelt, Maryland and NASA's Kennedy Space
        Center in Cape Canaveral, Florida.
      </p>
    </div>
    <div class="row norowdisturbance">
      <p class="col-md-7">
        While at Goddard, I worked on an open-sourced iOS based application called LandCast. NASA currently has a satellite called
        LandSat-8 that gathers a plethora of land, oceanic, and arctic data about our planet. I was given resources that linked me to
        this information, and helped debug and improve the application to prep it to be moved to open-source. This was my first
        project with NASA, and you can read more about it <a href="#">here</a>.
      </p>
      <p class="col-md-5">
        <%=image_tag("aboutphoto4.jpg", alt: "Goddard Poster Picture", class: "aboutembededphoto") %>
      </p>
    </div>
    <div class="row norowdisturbance">
      <p class="col-md-7">
        While at Kennedy (where I spent the most of my time), I began by developing web applications. We primarily coded using Ruby and
        the Ruby on Rails framework. The applications I developed gave me the knowledge to make this website you are currently on right now! The main
        application I worked on was a web application designed to allow users to manipulate, upload, and derive reports from data files and code blocks. The
        application also had a scheduling system that allowed users to monitor what stages their code was in during the development process.
      </p>
      <p class="col-md-5">
        <%=image_tag("aboutphoto3.jpg", alt: "Kennedy Intern Picture", class: "aboutembededphoto") %>
      </p>
    </div>
    <div class="row norowdisturbance">
      <p class="col-md-12">
        When I wasn't working as a web developer, I was moved over to an automation team in the engineering directorate at Kennedy Space
        Center. I worked with a team of 8 other interns where we would automate testing sequences for America's next deep-space spacecraft
        called the SLS (Space Launch System) rocket. To learn more about my work and the current projects that I am both personally and professionally involved with,
        please visit my <%=link_to "projects page", projects_path %> for more information.
      </p>
    </div>
    <div class="parallax2">
      <div class="center long-parallax-text">
        Awards and Accomplishments
      </div>
    </div>
    <div>
      <p class="padding-top col-md-12">
        I graduated from Simon Kenton High School with a work ethic diploma, and received
        a full tuition Scholarship to Northern Kentucky University called The Educational Diversity Scholarship. I was also offered
        The Achiever's Award Scholarship. I graduated on the Dean's List of my high school.
      </p>
      <p class="padding-top col-md-12">
        In college, I have been on the Dean's List for both my Freshman and Sophomore year. Near the end on my
        freshman year I was awarded the Outstanding First-Year Student award (pictured above). I was also accepted into the
        honors program by my freshman year.
      </p>
      <p class="padding-top col-md-12">
        <ul>
          There have been multiple articles published for both my accomplishments at school and for my work at NASA:
          <li><a href="https://earthdata.nasa.gov/esdis-project-summer-interns-balance-nasa-work-with-making-connections-for-future-nasa-careers" target="_blank"> NASA Article about Goddard</a></li>
          <li><a href="http://nku.edu/features/2016/june/the-sky-s-not-the-limit.html" target="_blank"> NKU Article about Goddard</a></li>
        </ul>
      </p>
      <p class="long-padding-bottom">
      </p>
    </div>
  </div>
</div>

<button onclick="topFunction()" id="back-to-top">&uarr;</button>

<!--<div class="parallax3">-->
<!--</div>-->

<!--<div>-->
  <!--Words will go here.-->
<!--</div>-->

<!--<div class="parallax4">-->
<!--</div>-->