<div class="center wrapper">
  <div class="panel">
    <div class="panel-heading">
      Contact Information:
    </div>
    <div class="panel-body">
      <a href="https://www.linkedin.com/in/jacob-moore-168990115/" target="_blank"> Linkedin </a>
      |
      <a href="https://www.facebook.com/profile.php?id=100009516678068" target="_blank"> Facebook </a>
      |
      <a href="https://twitter.com/jakedoesNASA" target="_blank"> Twitter</a>
      |
      <a href="https://github.com/Jake25k" target="_blank"> GitHub</a>

      <p>
        or email @ <%= mail_to "moorej37@mymail.nku.edu" %>
      </p>

    </div>
  </div>
</div>