@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "homepage";
@import "static";
@import "projects";
@import "posts";


/* universal css */

.share-button{
  top: -3px;
}
body{
  background: asset_url('bg.jpg') center center fixed;
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 300px;
}

footer{
  p {
    background-color: white;
    border-radius: 2px;
    width: 38%;
    min-width: 35%;
    margin: auto;
    margin-bottom: 10px;
  }
}

.contact-footer{
  p {
    background-color: white;
    border-radius: 2px;
    width: 80px;
    margin: auto;
    margin-bottom: 10px;
  }
}

::selection {
  background: lightpink;
}
::-moz-selection { /* Code for Firefox */
  background: lightpink;
}

.wrapper {
  width: 75%;
  margin: auto;
}
.panel-custom-wrapper{
  width:80%;
  margin: auto;
  margin-bottom: 20px;
}
.center {
  text-align: center;
}
.right{
  text-align: right;
}

.float-right{
  float: right;
}
.fixed-right{
  fixed: right;
}

#back-to-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: white;
  color: #222;
  cursor: pointer;
  border-radius: 2px;
}

#back-to-top:hover {
  background-color: lightgrey; /* Add a dark-grey background on hover */
}

.padding-top{
  padding-top: 5px;
}
.padding-bottom{
  padding-bottom: 5px;
}
.long-padding-bottom{
  padding-bottom: 45px;
}

.remove-table-margin-bottom{
  margin-bottom: 0px;
}

.panel-fix-buttons{
  margin-top: -50px;
}

/* bootstrap edits */

.navbar {
  border-radius: 0px;
}

.panel{
  border-radius: 2px;
  border: 1px solid #222;
}

.panel-custom{
  border-radius: 4px;
  border: none;
}

.panel-heading{
  background-color: #222;
  color: white;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.modal-header{
  background-color: #222;
  color: white;
}

.close{
  color: white;
  opacity: 1;
  :hover{
    color: white;
  }
}

.remove-panel-body-padding{
  padding: 0px;
}

.accomplishmentlist {
  list-style-type: none;
}

//Mobile support

@media (max-width: 767px) {
   body{
     background-position: center;
     background-attachment: fixed;
  }
}

@media (max-width: 1200px) {
  .navbar-header {
    float: none;
  }
  .navbar-left,.navbar-right {
    float: none !important;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
    display: none!important;
  }
  .navbar-nav {
    float: none!important;
    margin-top: 7.5px;
  }
  .navbar-nav>li {
    float: none;
  }
  .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .collapse.in{
    display:block !important;
  }
  .navbar-nav .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}

@media (max-width: 800px) {
  .wrapper {
    width: 95% !important;
    margin: auto;
  }
  .modal {
    top: 20%;
  }

  footer{
    p {
      width: 75%;
    }
  }

  #back-to-top{
    display: none !important;
  }
}
