.leading-photo {
  padding: 10px;
  display: none;
}

//.fadePanel2{
//  display: none;
//}
//
//.fadePanel3{
//  display: none;
//}
//
//.fadePanel4{
//  display: none;
//}
//
//.fadePanel5{
//  display: none;
//}
//
//.fadePanel6{
//  display: none;
//}

.tiny-pic{
  width: 100%;
  height: auto;
  cursor: pointer;
}

a.social-media-icon{
  text-decoration: none;
}

.sidebar-link {
  display: block;
  background-color: #222;
  border-radius: 2px;
  text-align: center;
  font-size: x-large;
  width: 100%;
  margin-bottom: 15px;
  text-decoration: underline;
}

.parallax-homepage{
  background-image: asset_url('leadingphoto.jpg');
  display: none;

  height: 400px;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 25px;
}
.parallax-homepage-text{
  font-size: 4.6rem;
  color: white;
  padding-top: 35px;
  text-shadow: 0 0.8rem 0.3rem rgba(0, 0, 0, 0.4);
}

.homepage-table-panels{
  overflow-y:scroll;
  height: 130px;
}