.parallax-blog {
  background-image: asset_url('personalblogphoto.jpg');

  height: 375px;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  //reversing bootstraps margin for the navbar
  margin-top: -20px;
}

.margin-top{
  margin-top: 10px;
}

.posts-content{
  font-size: 17px;
}

//Mobile support

@media (min-width: 1200px) {
  .parallax-blog {
    background-attachment: fixed;
  }
}

@media (max-width: 900px){
  .posts-content{
    img{
      max-width: 275px;
      max-height: 200px;
    }
  }
}

//Large display support
@media (max-width: 1800px) {
  .parallax-blog {
    background-attachment: fixed;
  }
}