.parallax-blog {
  background-image: asset_url('personalblogphoto.jpg');

  height: 375px;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  //reversing bootstraps margin for the navbar
  margin-top: -20px;
}

@media (min-width: 1200px) {
  .parallax-blog {
    background-attachment: fixed;
  }
}

.margin-top{
  margin-top: 10px;
}

.posts-content{
  font-size: 17px;
}