.parallax-projects {
  background-image: url("projectsphoto.jpg");
  display: none;

  height: 375px;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  //reversing bootstraps margin for the navbar
  margin-top: -20px;
}

.back-to-projects-button{
  position: fixed;
  float: right;
}