.parallax-projects {
  background-image: asset_url('projectsphoto.jpg');

  height: 375px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  //reversing bootstraps margin for the navbar
  margin-top: -20px;
}

.back-to-projects-button{
  position: fixed;
  float: right;
}

.project-content {
  font-size: 17px;
}

//Mobile support

@media (min-width: 1200px) {
  .parallax-projects {
    background-attachment: fixed;
  }
}

@media (max-width: 900px) {
  .title {
    font-size: 20px;
  }
}

@media (max-width: 900px){
  .project-content{
    img{
      max-width: 275px;
      max-height: 200px;
    }
  }
}