.parallax-text{
  font-size: 5.6rem;
  color: white;
  vertical-align: middle;
  line-height: 375px;
  text-shadow: 0 0.8rem 0.3rem rgba(0, 0, 0, 0.4);
}
.long-parallax-text{
  font-size: 2.6rem;
  color: white;
  vertical-align: middle;
  line-height: 325px;
  text-shadow: 0 0.8rem 0.3rem rgba(0, 0, 0, 0.4);
}

.parallax1 {
  background-image: url("aboutphoto1.jpg");

  height: 375px;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  //reversing bootstraps margin for the navbar
  margin-top: -20px;
}

.parallax2 {
  background-image: url("aboutphoto2.jpg");

  height: 325px;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.aboutembededphoto{
  height: 220px;
  width: auto;
  word-break: break-all;
}

.aboutsection{
  background-color: #222;
  color: white;
  font-size: medium;
  padding-left: 2px;
  padding-top: 5px;
}

.black-div{
  background-color: #222;
  padding-top: 35px;
}

