.parallax-text{
  font-size: 500%;
  color: white;
  padding-top: 125px;
}

.parallax1 {
  background-image: url("aboutphoto1.jpg");
  display: none;

  height: 425px;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  //reversing bootstraps margin for the navbar
  margin-top: -20px;
}

.parallax2 {
  background-image: url("aboutphoto2.jpg");

  height: 325px;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax3 {
  background-image: url("aboutphoto3.jpg");

  height: 325px;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax4 {
  background-image: url("aboutphoto4.jpg");

  height: 325px;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
